<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>
  <h1>Edit User <%= user.id %></h1>
  <form method="POST" action="/user/<%= user.id %>">
    <label>New Username:</label>
    <input type="text" name="username" value="<%= user.username %>" required />
    <button type="submit">Update</button>
  </form>
</body>
</html>
